<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>com.servlet.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/user/RegistServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BookManagerServlet</servlet-name>
        <servlet-class>com.servlet.BookManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookManagerServlet</servlet-name>
        <url-pattern>/manager/BookManagerServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BookClientServlet</servlet-name>
        <servlet-class>com.servlet.BookClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookClientServlet</servlet-name>
        <url-pattern>/client/BookClientServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <init-param>
            <param-name>kaptcha.textproducer.char.string</param-name>
            <param-value>你好大家我是上帝天下行走</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.names</param-name>
            <param-value>Noto Sans CJK TC</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/code.jpg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/client/CartServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderClientServlet</servlet-name>
        <servlet-class>com.servlet.OrderClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderClientServlet</servlet-name>
        <url-pattern>/client/OrderClientServlet</url-pattern>
    </servlet-mapping>
</web-app>
